{% extends "layout.html" %}

{% block content %}
<!-- Tabla de dispositivos -->
<section class="hero-body">
    <p class="title">Actualizar Información</p>
    <div class="container has-text-centered">
        <table class="table is-striped" id="hosts">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre del Dispositivo</th>
                    <th>Dirección IP</th>
                    <th>Ciudad</th>
                    <th>cto</th>
                    <th>dispositivo</th>
                    <th>tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for host in hosts %}
                <tr>
                    <td>
                            <span class="icon has-text-info" style="cursor: pointer;"
                                onClick='updateHostModal({{ host|tojson|safe }})'>
                            <i class="fa fa-edit"></i>
                        </span>
                        <span class="icon has-text-danger" style="cursor: pointer;"
                            onClick='deleteHostModal({{ host|tojson|safe }})'>
                            <i class="fa fa-trash"></i>
                        </span>
                    </td>
                    <td>
                        {{ host['hostname'] }}
                    </td>
                    <td>
                        {{ host['ip_address'] }}
                    </td>
                    <td>
                        {{ host['ciudad'] }}
                    </td>
                    <td>
                        {{ host['cto'] }}
                    </td>
                    <td>
                        {{ host['dispositivo'] }}
                    </td>
                    <td>
                        {{ host['tipo'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<!-- Cargar Tabla de datos de dispostivos -->
<script>
    $(document).ready(function () {
        $('#hosts').DataTable({
            "order": [[1, "asc"]]
        })
    });
        // Modal para actualizar host
        // Enviar el formulario en este modal actualiza el host
    async function updateHostModal(host) {
        var yc = ''
        var nc = ''
        if (host.alerts_enabled == true) {
            yc = 'checked'
        } else {
            nc = 'checked'
        }
        var idFieldHidden = '<div class="field is-hidden"><input class="input is-medium" type="text" name="id" value="' + host.id + '"></div>'
        var hostnameField = '<div class="field"><label class="label">Nom del Dispositivo</label><div class="control"><input class="input is-medium" type="text" name="hostname" placeholder=" ' + host.hostname + '"></div></div>'
        var ipField = '<div class="field"><label class="label">Dirección IP</label><div class="control"><input class="input is-medium" type="text" name="ip_address" placeholder=" ' + host.ip_address + '"></div></div>'
        var ciudadField = '<div class="field"><label class="label">Ciudad</label><div class="control"><input class="input is-medium" type="text" name="ciudad" placeholder=" ' + host.ciudad + '"></div></div>'
        var ctoField = '<div class="field"><label class="label">Campamento</label><div class="control"><input class="input is-medium" type="text" name="cto" placeholder=" ' + host.cto + '"></div></div>'
        var dispositivoField = '<div class="field"><label class="label">Dispositivo</label><div class="control"><input class="input is-medium" type="text" name="dispositivo" placeholder=" ' + host.dispositivo + '"></div></div>'
        var tipoField = '<div class="field"><label class="label">Tipo de Dispositivo</label><div class="control"><input class="input is-medium" type="text" name="tipo" placeholder=" ' + host.tipo + '"></div></div>'
        var alertsField = '<div class="field"><label class="label">Habilitar Alertas</label><div class="control"><label class="radio"><input type="radio" name="alerts" value="True"' + yc + '> Yes</label><label class="radio"><input type="radio" name="alerts" value="False" ' + nc +'> No</label></div></div>'
        var submitButton = '<div class="control"><button class="button is-block is-info is-medium">Actualizar</button></div>'
        await modalClear();
        await modalAddContent('Actualizar Información', '<div class="container"><div class="overlay" id="notification"></div></div><div class="table-container"><form method="POST" action="/updateHosts">' + idFieldHidden + hostnameField + ipField + ciudadField + ctoField + tipoField + dispositivoField + alertsField + submitButton + '</form></div>');
        await modalShow();
    }
        // Modal para eliminar host
        // Enviar el formulario en este modal elimina el host
    async function deleteHostModal(host) {
        var idFieldHidden = '<div class="field is-hidden"><input class="input is-medium" type="text" name="id" value="' + host.id + '"></div>'
        var hostnameFieldHidden = '<div class="field is-hidden"><input class="input is-medium" type="text" name="hostname" value="' + host.hostname + '"></div>'
        var confirmDelete = '<p class="title is-5">Eliminar dispositivo ' + host.hostname + '?</p>'
        var deleteButton = '<div class="control"><button class="button is-danger is-info is-medium">Eliminar</button></div>'
        await modalClear();
        await modalAddContent('Eliminar', '<div class="container"><div class="overlay" id="notification"></div></div><div class="table-container"><form method="POST" action="/deleteHost">' + confirmDelete + idFieldHidden + hostnameFieldHidden  + deleteButton + '</form></div>');
        await modalShow();
    }
</script>

<style>
  /* Centrar contenido horizontal y verticalmente en celdas */
  #hosts td,
  #hosts th {
    text-align: center;
    vertical-align: middle;
  }

  /* Centrar la tabla en la pantalla */
  #hosts {
    margin-left: auto;
    margin-right: auto;
  }
</style>

{% endblock %}

